/* header {
  text-align: center;
  padding: 0.3em;
  font-size: x-large;
  background-color: rgb(156, 120, 255);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    margin: 4em;
    background-color: black;
    border: 0.1em solid black;
    border-radius: 0.4em;
    filter: drop-shadow(0 0 1em black);

    p {
      color: white;
      transform: scale(1.2);
      margin-top: 0.1em;
      margin-bottom: 1.2em;
      text-align: center;
      filter: drop-shadow(0 0 1em rgb(255, 255, 255));
    }

    video {
      border-radius: 0.4em 0.4em 0 0;
      width: 40vw;
    }
  }
} */
