/* header {
  text-align: center;
  padding: 0.3em;
  font-size: x-large;
  background-color: rgb(71, 181, 255);
}

.search {
  position: absolute;
  top: 4.2em;
  right: 0.7em;
}

.sortBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0.7em;
  top: 4.5em;
  z-index: 1;
  filter: drop-shadow(0 0 5px rgb(211, 211, 211));

  >button {
    width: 10em;
    height: 2em;
    border: none;
    background-color: transparent;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
    }

    button {
      width: 10em;
      border: none;
      margin: 0;
      height: 2em;
      border-radius: 0.3em;

      &:hover {
        background: rgb(150, 150, 150);
        transform: scale(1);
        border-radius: 1.3em;
      }
    }
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  justify-content: right;

  .empty {
    padding: 1em;
    margin: 0.3em;
    border-radius: 0.7em;
    background-color: rgb(248, 164, 164);
  }
} */
