/* :host {
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  background-color: rgb(222, 222, 222);
  filter: drop-shadow(0 0 8px rgb(157, 157, 157));
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.4em;

  .pic {

    img {
      height: 15em;
      max-height: 15em;
      width: 15em;
      max-width: 15em;
    }
  }

  .info {
    display: flex;
    margin-top: 1em;
    margin-bottom: 0.8em;

    .text {
      font-size: small;
      max-width: 8em;
      max-height: 3em;
    }

    button {
      width: 9em;
      height: 3em;
      border: none;
      border-radius: 0.8em;
      margin: 0 0.8em 0 0.2em;
      background-color: rgb(203, 203, 203);

      &:hover {
        background-color: rgb(180, 180, 180);
      }
    }
  }
}

* {
  zoom: 95%;
} */
