<section dir="ltr" class="pr-4 pl-4 sm:pr-6 sm:pl-6 lg:pl-8 lg:pr-8 flex flex-row">
  <!-- Slider -->
  <div data-hs-carousel='{
  "loadingClasses": "opacity-0"
}' class="relative w-full">
    <div class="hs-carousel relative overflow-hidden w-full min-h-96 rounded-lg shadow-2xs">
      <div
        class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">

        @for (p of productBanners.getProductsPreview(); track $index) {
        @if ($index < 6) { <div class="hs-carousel-slide">
          <div class="flex justify-center h-full bg-white p-6 dark:bg-neutral-800">

            <div dir="rtl"
              class="border border-gray-100 rounded-xl shadow-2xs sm:flex dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">

              <div
                class="bg-gray-100 border sm:w-full h-full border-gray-200 rounded-xl shadow-2xs sm:flex dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div
                  class="shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[70%] sm:pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs">
                  <a routerLink="/pb/products/{{p.category}}/{{p.id}}">
                    <img class="size-full absolute top-0 start-0 object-cover" [src]="p.previewImageUrl" alt="">
                  </a>
                </div>

                <div class="flex flex-wrap">
                  <div class="sm:w-[45em] p-4 flex flex-col h-full sm:p-7">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                      {{p.title}} {{p.brand}}
                    </h3>
                    <p class="mt-1 text-gray-500 dark:text-neutral-400">
                      قیمت این محصول : <span
                        class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-100 text-teal-800 dark:bg-teal-800/30 dark:text-teal-500">{{p.price
                        | number}}</span>
                    </p>
                    <p class="mt-4 text-green-600 dark:text-green-700">
                      پیشنهاد شگفت انگیز
                    </p>
                    <div class="mt-5 sm:mt-auto">
                      <p class="text-xs text-gray-500 dark:text-neutral-500">
                        پرفروش ترین ها در هفته
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
      </div>
      }
      }

    </div>

    <button type="button"
      class="hs-carousel-prev hs-carousel-disabled:opacity-50 hs-carousel-disabled:cursor-default absolute top-1/2 start-2 inline-flex justify-center items-center size-10 bg-white border border-gray-100 text-gray-800 rounded-full shadow-2xs hover:bg-gray-100 -translate-y-1/2 focus:outline-hidden">
      <span class="text-2xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6"></path>
        </svg>
      </span>
      <span class="sr-only">قبلی</span>
    </button>
    <button type="button"
      class="hs-carousel-next hs-carousel-disabled:opacity-50 hs-carousel-disabled:cursor-default absolute top-1/2 end-2 inline-flex justify-center items-center size-10 bg-white border border-gray-100 text-gray-800 rounded-full shadow-2xs hover:bg-gray-100 -translate-y-1/2 focus:outline-hidden">
      <span class="sr-only">بعدی</span>
      <span class="text-2xl" aria-hidden="true">
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </span>
    </button>
  </div>
  <!-- End Slider -->
  </div>

  <div class="pl-8 hidden sm:flex">
    <a dir="rtl"
      class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl hover:shadow-lg focus:outline-hidden focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
      routerLink="/pb/products/{{discountProductPreview()?.category}}/{{discountProductPreview()?.id}}">
      <div class="w-full h-67 flex justify-center items-center">
        <img class="w-50 h-50 rounded-t-xl rounded-2xl" [src]="discountProductPreview()?.previewImageUrl" alt="Card Image">
      </div>
      <div class="p-4 md:p-5 md:pl-0">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white pb-3">
          تخفیف برای شما به مدت محدود !
        </h3>
        <div class="mt-1 text-gray-500 dark:text-neutral-400 w-80">

          <div class="inline-flex">
            قیمت اصلی :
            <div class="pr-2 pb-3">
              <span
                class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-red-100 text-red-800 rounded-full dark:bg-red-500/10 dark:text-red-500">
                <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                  <path d="M12 9v4"></path>
                  <path d="M12 17h.01"></path>
                </svg>
                {{discountProductPreview()?.price | number}}
              </span>
            </div>
          </div>

          <div class="inline-flex">
            قیمت برای شما با {{discountProductPreview()?.discountPercent}}% تخفیف :

            <div class="pr-2">
              <span
                class="py-1 px-2 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full dark:bg-teal-500/10 dark:text-teal-500">
                <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                  <path d="m9 12 2 2 4-4"></path>
                </svg>
                {{discountPriceProduct() | number}}
              </span>
            </div>

          </div>

        </div>
      </div>
    </a>
  </div>

</section>
