<section
  class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">

  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
            <thead>

              <tr>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 dark:text-neutral-500">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
                <th scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">محصول
                </th>
                <th scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">قیمت
                </th>
                <th scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">تعداد
                </th>
                <th scope="col"
                  class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">جمع جزء
                </th>
              </tr>

            </thead>

            <tbody>

              @for (item of basketProductsObj.basket; track $index) {
              <tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-neutral-900 dark:even:bg-neutral-800">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
                  <img class="w-22 max-h-22 rounded-2xl" [src]="item.pic" alt="basket image">
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">{{item.title}}
                  {{item.brand}}</td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">{{item.price |
                  number}} تومان</td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                  <!-- Input Number -->
                  <div dir="ltr"
                    class="py-2 px-3 bg-gray-200 shadow-2xs shadow-gray-300 dark:shadow-neutral-600 rounded-lg dark:bg-neutral-700 w-50"
                    data-hs-input-number="">
                    <div class="w-full flex justify-between items-center gap-x-5">
                      <button type="button" (click)="removeProduct(item)"
                        class="py-1 px-1 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:outline-hidden focus:bg-red-200 disabled:opacity-50 disabled:pointer-events-none dark:text-red-500 dark:bg-red-800/30 dark:hover:bg-red-800/20 dark:focus:bg-red-800/20">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="size-4">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                      </button>
                      <div class="grow">
                        <input disabled
                          class="w-full text-center p-0 bg-transparent border-0 text-gray-800 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                          type="number" [value]="item.count">
                      </div>
                      <div class="flex justify-end items-center gap-x-1.5">
                        <button type="button" (click)="item.count == 1 ? removeProduct(item) : downCount(item)"
                          [disabled]="item.isRemoveDisable"
                          class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                          <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                          </svg>
                        </button>
                        <button type="button" (click)="upCount(item)" [disabled]="item.isAddDisable"
                          class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                          <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5v14"></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- End Input Number -->

                </td>

                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium dark:text-white">
                  {{countPriceUpdater(item.price,item.count) | number}} تومان
                </td>
              </tr>
              }

            </tbody>
          </table>

          @if (basketProductsObj.basket.length == 0) {
          <div
            class="m-5 bg-yellow-100 border border-yellow-200 text-sm text-yellow-800 rounded-lg p-4 dark:bg-yellow-800/10 dark:border-yellow-900 dark:text-yellow-500"
            role="alert">
            <span class="font-bold ml-2">هشدار</span> شما هیچ محصولی در سبد خود اضافه نکردید! میتوانید از این <a
              class="text-yellow-500 font-bold ml-1 mr-1 decoration-2 hover:underline focus:outline-hidden focus:underline dark:text-yellow-700"
              routerLink="/pb/products">
              لینک
            </a> محصول اضافه کنید
          </div>
          }

        </div>
      </div>
    </div>
  </div>

</section>

<section class="sm:inline-flex w-full mt-5">

  <section
    class="flex sm:mt-5 mt-10 sm:w-3/9 h-46 flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">

    <form (ngSubmit)="checkDiscountCode()">

      <label for="DiscountCode" class="block text-md mb-3 dark:text-white">کد تخفیف </label>
      <div class="relative mt-3 mb-5">
        <input type="text" id="DiscountCode" name="DiscountCode" [(ngModel)]="discountCode.code"
          class="peer py-2.5 sm:py-3 px-4 ps-11 block w-full text-gray-500 bg-gray-100 border-transparent rounded-lg sm:text-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          [maxLength]="20" placeholder="اگر کد تخفیف دارید وارد کنید">
        <div
          class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
          <svg class="shrink-0 size-5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
          </svg>
        </div>
      </div>

      <button type="submit"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
        اعمال کوپن
      </button>

    </form>

  </section>

  <section
    class="flex mt-5 sm:mr-5 sm:w-6/9  flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">

    <label class="block text-md mb-3 dark:text-white"> جمع کل سبد خرید</label>
    <div class="inline-flex">
      <ul class="flex flex-col mb-5 sm:w-3/6 w-6/6">
        <li class="p-3 text-sm text-black dark:text-white"> جمع سبدخرید </li>
        <li class="p-3 text-sm text-black dark:text-white"> تخفیف شما از این خرید </li>
        <li class="p-3 text-sm text-black dark:text-white"> هزینه نهایی سبد </li>
      </ul>

      <ul class="flex flex-col mb-5 sm:w-full w-4/6">
        <li
          class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white border border-transparent text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:odd:bg-neutral-800 dark:bg-neutral-900 dark:text-white">
          {{basketPrice() |number}} تومان
        </li>
        <li
          class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white border border-transparent text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:odd:bg-neutral-800 dark:bg-neutral-900 dark:text-white">
          0 تومان
        </li>
        <li
          class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white border border-transparent text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:odd:bg-neutral-800 dark:bg-neutral-900 dark:text-white">
          {{basketPrice() |number}} تومان
        </li>
      </ul>
    </div>

  </section>

</section>
