<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 mx-auto">
  <div class="bg-white rounded-xl shadow-xs p-4 sm:p-7 dark:bg-neutral-800">
    <div class="mb-8">
      <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">تغییر رمز عبور</h2>
      <p class="text-sm text-gray-600 dark:text-neutral-400">
        رمز عبور فعلی خود را وارد کرده و رمز جدید را تعیین کنید.
      </p>
    </div>

    <form (submit)="changePassword()">
      <div class="space-y-6">

        <div>
          <label for="currentPassword" class="block text-sm mb-3 dark:text-white">رمز عبور فعلی</label>
          <div class="relative">
            <input id="currentPassword" name="currentPassword" type="password" placeholder="رمز عبور فعلی"
              [(ngModel)]="passwordModel.currentPassword" [required]="true"
              class="peer py-2.5 border text-neutral-700 sm:py-3 px-4 block w-full bg-gray-200 rounded-lg sm:text-sm
                     focus:border-green-500 focus:ring-green-500 disabled:opacity-50 disabled:pointer-events-none
                     dark:bg-neutral-700 border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" />
          </div>
        </div>

        <div>
          <label for="newPassword" class="block text-sm mb-3 dark:text-white">رمز عبور جدید</label>
          <div class="relative">
            <input id="newPassword" name="newPassword" type="password" placeholder="رمز عبور جدید"
              [(ngModel)]="passwordModel.newPassword" [required]="true"
              [class.border-red-500]="confirmPassword && passwordModel.newPassword !== confirmPassword"
              [class.border-transparent]="!confirmPassword || passwordModel.newPassword === confirmPassword"
              class="peer py-2.5 border text-neutral-700 sm:py-3 px-4 block w-full bg-gray-200 rounded-lg sm:text-sm
                     focus:ring-green-500 disabled:opacity-50 disabled:pointer-events-none
                     dark:bg-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" />
          </div>
        </div>

        <div>
          <label for="confirmPassword" class="block text-sm mb-3 dark:text-white">تکرار رمز عبور جدید</label>
          <div class="relative">
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="تکرار رمز عبور جدید"
              [(ngModel)]="confirmPassword" [required]="true"
              [class.border-red-500]="confirmPassword && passwordModel.newPassword !== confirmPassword"
              [class.border-transparent]="!confirmPassword || passwordModel.newPassword === confirmPassword"
              class="peer py-2.5 border text-neutral-700 sm:py-3 px-4 block w-full bg-gray-200 rounded-lg sm:text-sm
                     focus:ring-green-500 disabled:opacity-50 disabled:pointer-events-none
                     dark:bg-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" />

            <div class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-4">
              @if (!confirmPassword || passwordModel.newPassword === confirmPassword) {
              <svg class="shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              }
              @else {
              <svg class="shrink-0 w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
              </svg>
              }
            </div>
          </div>
          @if (confirmPassword && passwordModel.newPassword !== confirmPassword) {
          <p class="text-red-500 text-sm mt-1">رمز عبور و تکرار آن با هم مطابقت ندارند.</p>
          }
        </div>

        <div class="mt-6 flex justify-end">
          <button type="submit" [disabled]="isBussy || (confirmPassword && passwordModel.newPassword !== confirmPassword) || (passwordModel.currentPassword.length < 4) ||
            (confirmPassword.length < 1)" class="py-2.5 px-6 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent
                   bg-green-600 text-white hover:bg-green-700 focus:outline-hidden focus:bg-green-700
                   disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-gray-400">
            @if (!isBussy) {
            ذخیره تغییرات
            }
            @else {
            <span
              class="animate-spin inline-block size-4 border-3 border-current border-t-transparent text-neutral-50 rounded-full"
              role="status" aria-label="loading"></span>
            }
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
