@import "tailwindcss";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  
}

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Persian;
  src: url('/fonts/IRANSansWeb(FaNum).woff2');
}

* {
  transition: all 0.4s;
  font-family: "Persian";
}
