<nav>

  <ul>

    @if(router.url.includes('admin-panel')){
    <li>داشبورد مدیریت</li>
    <li><a routerLink="admin-panel/manage-products">مدیریت محصولات</a></li>
    <li><a routerLink="admin-panel/manage-members">مدیریت اعضا</a></li>
    }@else {
    <li class="panel">داشبورد اعضا</li>
    }

    <li class="timeBox">
      <time>
        {{currentDate.toLocaleTimeString()}}
      </time>
      <time>
        {{currentDate.toLocaleDateString()}}
      </time>
    </li>

    <span></span>
    <li><a routerLink="/">خروج</a></li>

  </ul>

</nav>

<main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
