/* nav {

  ul {
    display: flex;
    background-color: rgb(20, 123, 89);
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    justify-content: center;

    li {
      margin: 0.5em;
      transition: all 0.8s;

      &:hover {
        transition: all 0.8s;
        transform: scale(1.1);
      }

      &:first-child {
        color: rgb(15, 15, 15);
        filter: drop-shadow(0 0 3px white);
      }

      &:first-child:hover {
        transform: scale(1);
      }
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: rgb(64, 64, 64);
      }
    }

    span {
      display: flex;
      flex: 1 1 0;
    }

    time {
      direction: ltr;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.5em;
      height: 1.8em;
      background-color: rgb(206, 206, 206);
      border-radius: 0.5em;
      font-size: 0.75em;

      &:first-child {
        background-color: rgb(37, 37, 37);
        color: white;
      }
    }

    .timeBox {
      margin: 0;

      &:hover {
        transform: scale(1);
      }
    }
  }
} */
